@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import './variables.scss';
@import './colors.scss';

$header_height: 50px;

// font-family: 'Lato', sans-serif;
// font-family: 'Saira Extra Condensed', sans-serif;

* {
    box-sizing: border-box;
}

.main_app {
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100%;

    section,
    footer,
    header {
        float: left;
        width: 100%;
    }

    .content_container {
        max-width: 1300px;
        margin-left: 50%;
        transform: translate(-50%);
        width: 100%;
    }

    .flex_wrap {
        @include flex-row();

        &.flex_space_between {
            justify-content: space-between;
        }

        &.flex_column {
            flex-direction: column;
        }
    }

    .min_height {
        min-height: 100vh;
    }

    .hide {
        display: none !important;
    }

    .inherit {
        width: 100%;
        height: 100%;
        float: left;
    }

    p {
        font-size: 19px;
    }

    h1 {
        color: #fff;
        @include font2();
        font-size: 40px;
        font-weight: 500;
    }

    .no_margin {
        margin: 0 !important;
    }

    .no_padding {
        padding: 0 !important;
    }

    header {
        z-index: 9999;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
        padding: 10px 0;
        width: 100%;
        transition: background 0.4s;

        &.active {
            background-color: #fff;

            button {
                // color: #000;
            }
        }

        .logo {
            max-height: 50px;
        }
        button {
            transition: color 0.4s;
            border-radius: 8px;
            border-color: $light-blue !important;
            border-width: 2px;
            background-color: transparent;
            color: #fff;
            padding: 5px 20px;
            margin: 0 5px;
            outline: none;
            border-style: solid !important;
            text-align: center;
            min-width: 100px;
            transition: all 0.4s;
            cursor: pointer;
            background-color: $dark-blue;

            &:hover {
                background-color: $light-blue !important;
            }
        }
    }

    .hero_message {
        background-color: $dark-blue;
        padding-top: $header_height;
        color: #fff;
        height: calc(100vh - 90px);

        &:before {
            content: '';
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: #000;
            z-index: 1;
            opacity: 0.3;
        }

        .content_container {
            z-index: 5;
            position: relative;
        }
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            object-fit: cover;
            opacity: 0.3;
        }
        .main_header {
            font-size: 100px;
            @include font2();
            font-weight: 700;
            background: linear-gradient(116deg, #3ccbcf 22%, #ff9300 65%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            // linear-gradient(45deg, #3ccbcf, #ff9300)
        }

        p {
            margin: 0;
            margin-bottom: 25px;
            margin-top: -15px;
        }

        .button {
            border: 1px solid $light-blue;
            padding: 10px 50px;
            font-size: 22px;
            color: $light-blue;
            cursor: pointer;
            transition: all 0.4s;

            &:hover {
                background-color: $light-blue;
                color: $dark-blue;
            }
        }

        a {
            text-decoration: none !important;
            color: #fff !important;
            margin-top: 20px;
        }
    }

    .boast_box {
        background-color: $dark-blue;
        border-top: 15px solid #fff;
        color: #fff;
        padding: 40px 0;
        padding-top: 0;

        .flex_wrap {
            padding-top: 40px;
        }
        .beeple {
            width: 100%;
        }

        .logo {
            margin-right: 40px;
        }
        p {
            opacity: 0.8;
        }

        h1 {
            margin: 0;
        }
        a {
            color: $dark-yellow;
            text-decoration: none !important;
            clear: both;
            font-size: 22px;
            width: 100%;
            float: left;
        }
    }

    .trust_box {
        background-color: $light-blue;
        padding: 40px 0;
        border-top: 15px solid #fff;

        h1,
        p {
            color: $dark-blue;
        }

        .text_wrap {
            width: 50%;
            padding-right: 30px;
        }
        .communities_wrap {
            @include flex-row();
            flex-wrap: wrap;
            width: 50%;
            align-items: stretch;

            .item {
                min-width: calc(50% - 20px);
                @include flex-column();
                border: 1px solid #fff;
                padding: 15px;
                min-height: 100%;
                flex: 1;
                margin: 10px;
                cursor: pointer;
                font-weight: 600;
                transition: background 0.4s;

                &.gyb {
                    svg {
                        width: 140px;
                        // height: 90px;
                    }
                }
                &:hover {
                    background-color: #fff;
                }

                svg {
                    width: 70px;
                    height: 70px;
                    margin-bottom: 10px;
                }

                &.full_width {
                    flex-direction: row;
                    font-size: 30px;
                    @include font2();
                    font-weight: 500;

                    svg {
                        width: 60px;
                        height: 60px;
                        margin-bottom: 0;
                        margin-left: 20px;
                    }
                }
            }
        }
    }

    .benefits {
        padding: 45px 0;
        color: $dark-blue;

        .heading {
            width: 100%;
            margin-bottom: 15px;
            font-size: 30px;
            text-align: center;

            strong {
                @include font2();
                font-size: 50px;
            }
        }

        .youtube_wrap {
            width: 100%;
            min-height: 600px;
            position: relative;

            iframe {
                min-height: 100%;
                min-height: 600px;
                z-index: 2;
                position: relative;
            }
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                bottom: -60px;
                left: 0;
                background-repeat: no-repeat;
                background-position: bottom;
                background-image: url('./assets/Images/Shadow.png');
                z-index: 1;
            }
        }

        .contents_wrap {
            @include flex-row();
            text-align: center;
            align-items: flex-start;

            .content {
                margin: 10px;

                h1 {
                    font-size: 35px;
                    font-weight: 600;
                    color: $dark-blue;
                }

                p {
                    margin: 0;
                    margin-top: -30px;
                }
            }
        }
    }

    .partners {
        padding: 45px 0;
        background-color: $dark-blue;
        text-decoration: none !important;

        .partners_items_wrap {
            flex-wrap: wrap;

            .partner {
                @include flex-column();
                color: #fff;
                margin: 0 30px;
                margin-bottom: 40px;
                text-decoration: none !important;

                &.you {
                    color: $dark-yellow;
                    @include font2();

                    span {
                        transform: scale(1.8);
                    }
                }
                img {
                    border-radius: 50%;
                    margin-bottom: 10px;
                    max-width: 160px;
                }
            }
        }
        h1 {
            color: $dark-yellow;
            text-align: center;
        }
    }

    .gallery {
        background-color: $light-blue;
        padding: 45px 0;
        text-align: center;
        color: $dark-blue;

        h1 {
            color: $dark-blue;
            font-weight: 600;
            margin: 0;
        }
        p {
            margin: 0;
            margin-bottom: -10px;
            font-weight: 600;
        }

        .owl-carousel {
            max-width: calc(100% - 100px);
        }

        .owl-theme .owl-nav .disabled {
            opacity: 1 !important;
        }

        .button {
            background-color: $dark-blue;
            color: #fff;
            text-decoration: none !important;
            padding: 15px 40px;
            margin-top: 20px;
            float: left;
            margin-left: 50%;
            transform: translate(-50%);
            transition: all 0.4s;

            &:hover {
                background-color: $dark-yellow;
                color: $dark-blue;
            }
        }

        .owl-stage-outer {
            padding: 10px;
            width: calc(100% + 20px);
            margin-left: -10px;
        }

        .owl-nav.disabled,
        .owl-nav {
            display: flex !important;
            justify-content: space-between;
            margin-left: -50px;
            width: calc(100% + 100px);
            position: absolute;
            top: calc(50% - 10px);

            &:hover {
                .owl-prev {
                    background: url('./assets/Images/previous.png');
                }
                .owl-next {
                    background: url('./assets/Images/next.png');
                }
            }

            button {
                width: 30px;
                height: 30px;
                background-size: contain !important;
                cursor: pointer;
                background-repeat: no-repeat !important;

                span {
                    display: none;
                }
            }
            .owl-prev {
                background: url('./assets/Images/previous.png');
            }
            .owl-next {
                background: url('./assets/Images/next.png');
            }
        }

        .gallery_card {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0px 0px 10px #333;
            padding: 15px;

            .title {
                color: $dark-blue;
                margin-top: 15px;
                min-height: 38px;
            }

            img {
            }
        }
    }

    .social {
        padding: 45px 0;
        border-top: 4px solid #fff;
        border-bottom: 4px solid #fff;
        background-color: $dark-yellow;

        p {
            font-weight: 600;
            margin: 0;
            font-size: 20px;
            margin-right: 20px;
        }

        .social_icon {
            width: 50px;
            height: 50px;
            // background-color: red;
            margin: 0 15px;
        }
    }

    footer {
        background-color: $dark-blue;
        padding: 45px 0;
        color: #fff;

        .details,
        .links_wrap {
            width: 50%;
        }

        .links_wrap {
            @include flex-column();
            align-items: flex-start;
            padding-left: 50px;

            .link_item {
                float: left;
                color: #fff;
                text-decoration: none !important;
                margin-bottom: 10px;
            }
        }
        .copyright {
            font-size: 14px;
        }
    }
}

@media only screen and (max-width: $breakpoint-sm) {
    .main_app {
        .flex_wrap {
            &:not(.dont_adjust_sm) {
                flex-direction: column;
                padding: 0 30px;
            }
        }

        .social {
            margin: 0;

            .flex_wrap {
                flex-wrap: wrap;

                p {
                    min-width: 100%;
                    text-align: center;
                    margin-bottom: 20px;
                }
            }
        }

        .boast_box {
            text-align: center;
            .logo {
                margin: 0;
            }
        }

        .trust_box {
            padding-right: 0;
            .text_wrap,
            .communities_wrap {
                width: 100%;
            }
        }

        .gallery {
            // .owl-stage-outer {
            //     padding: 10px 0;
            //     margin: 0;
            //     width: 100%;
            // }
        }

        footer {
            .details {
                width: 100%;
            }

            .links_wrap {
                width: 100%;
                margin-top: 30px;
                padding: 0;
            }
        }
    }
}

@media only screen and (max-width: $breakpoint-xs) {
    .main_app {
        header {
            padding: 10px 10px;
            .buttons_wrap {
                button {
                    float: right;
                    margin-bottom: 2px;
                }
            }
        }
        .hero_message {
            .main_header {
                text-align: center;
                line-height: 1;
                margin-bottom: 30px;
            }
        }

        .boast_box {
            .logo {
                max-width: 50%;
                margin-top: 20px;
            }

            a {
                margin-bottom: 5px;
            }
        }

        .trust_box {
            text-align: center;
            .communities_wrap {
                .item {
                    min-width: 100%;
                    line-height: 1;
                }
            }
        }

        .benefits {
            .heading {
                padding: 0 30px;
                line-height: 1;
            }

            .youtube_wrap {
                width: 100%;
                min-height: 300px;

                iframe {
                    min-height: 300px;
                }
            }

            .contents_wrap {
                flex-wrap: wrap;
                .content {
                    padding: 0 30px;
                    min-width: 100%;
                }
            }
        }

        .partners {
            .partners_items_wrap {
                .partner {
                    margin: 0;
                    margin-bottom: 40px;

                    img {
                        max-width: 50%;
                    }
                }
            }
        }

        footer {
            text-align: center;

            .links_wrap {
                align-items: center;
            }
        }
    }
}
